{% macro icon_box(name, url, src) %}
<div class="box">
    <div class="img">
        <a href={{ url }} target="_blank">
            <img src="{{ src }}"/>
        </a>
    </div>
    <p>{{ name }}</p>
</div>
{% endmacro %}