.countdown {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  display:none;
  /*居中图标*/
  /*justify-info: space-around;*/
  /*自动换行*/
  flex-wrap: wrap;
  /*align-items: center;*/
}

.countdown div{
display: inline-block;
}

.countdown .countdown_card{
    height: 65px;
    margin-top: 40px;
    border: 4px solid;
    border-color: #333;
    box-shadow: 0 0 50px 20px rgb(255 255 255 / 90%);
    background: rgba(255, 255, 255, 0.9);
}

.countdown .countdown_card::before,
.countdown .countdown_card::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.92);
    transition: 0.4s linear;
}

.countdown .countdown_card::before{
    top: 40px;
    left: 10%;
}

.countdown .countdown_card::after{
    bottom: 87px;
    right: 10%;
}

.countdown .countdown_card:hover::before{
    left: 80%;
}

.countdown .countdown_card:hover::after{
    right: 80%;
}

.countdown .countdown_card .count_number {
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    -webkit-background-clip: text;
    color: transparent;

    display: inline-block;
    font-family: Fantasy;
    font-size: 36px;
    margin: 8px -15px;
    letter-spacing: 2px;
}


.countdown .countdown_card .count_font{
    color: #333;

    font-family: KaiTi;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0 15px;
    margin-bottom: 10px;
}