.countdown {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  display:none;
  /*居中图标*/
  /*justify-info: space-around;*/
  /*自动换行*/
  flex-wrap: wrap;
  /*align-items: center;*/
}

.countdown div{
display: inline-block;
}

.countdown .countdown_card .count_number {
    display: inline-block;
    font-family: Fantasy;
    font-size: 60px;
    margin: 0 5px;
}


.countdown .countdown_card .count_font{
  font-family: KaiTi;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #222222;
}