.poem{
    position: absolute;
    top: 96%;
    left: 50%;
    transform : translate(-50%,-50%);
    height :20px;
    font-size: 10px;
  color: dimgrey;
  text-shadow: 1px 1px lightgrey;
    text-align:center;
}