.sidebar {
    width: 1px;
    height: 600px;
    /* 绝对固定定位 */
    position: fixed;
    right: 0;
    /* 垂直居中 */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    /* 动画过渡 */
    transition: 0.15s;
}

.sidebar:hover{
    width: 88px;
    border-radius: 30px 0 0 30px;
    z-index: 1000;
}

.sidebar:hover li a {
    /* 鼠标移入，改变字体颜色 */
    color: #fff;
}

.sidebar::before {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(32, 178, 170, 0.2);
}

.sidebar .top {
    width: calc(100% - 18px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.sidebar .middle {
    width: calc(100% - 18px);
    height: 10%;
    background-color: rgba(32, 178, 170, 0.2);
}

.sidebar .bottom {
    width: calc(100% - 18px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar li {
    position: absolute;
    /* 通过var函数调用自定义属性--t */
    top: var(--t);
    width: 100%;
    height: 10%;
    font-size: 30px;
    margin-left: -5px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.sidebar li a {
    /* 字体颜色透明 */
    color: transparent;
    /* 动画过渡 */
    transition: 0.15s;
}

.sidebar li a i{
    font-size: 20px;
}
.sidebar li p{
    font-size: 12px;
    color: white;
}

/* 分别为每一个li元素设置.top的高度 */
/* ~是兄弟选择器 */
.sidebar li:nth-child(1):hover~.top {
    height: 20%;
}

.sidebar li:nth-child(2):hover~.top {
    height: 30%;
}

.sidebar li:nth-child(3):hover~.top {
    height: 40%;
}

.sidebar li:nth-child(4):hover~.top {
    height: 50%;
}

.sidebar li:nth-child(5):hover~.top {
    height: 60%;
}

.sidebar li:nth-child(6):hover~.top {
    height: 70%;
}