* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background: url("https://w.wallhaven.cc/full/j5/wallhaven-j5q72q.png");
    background-size: cover;
    overflow: hidden;
}
