* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #70e1f5 0%, #ffd194 100%);
}
