.wallpapers {
    display: none;
    justify-content: space-around;
    top: 40%;
    left: 35%;
    width: 420px;
    z-index: 5000;
    height: 180px;
    padding: 20px;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    backdrop-filter: blur(4px);
}

.wallpapers .card .wallpaper_btn{
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: floralwhite;
    font-size: 12px;

    background-color: transparent;
    border-width: 0;
}

.wallpapers .card .wallpaper_btn.active{
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.wallpapers .card .wallpaperBox .wallpaper{
    font-size: 9px;
    line-height: 200%;
    display: none;
}

.wallpapers .card .wallpaperBox .wallpaper ul{
    list-style: none;
}

.wallpapers .card .wallpaperBox .wallpaper.show{
    color: white;
    line-height: 200%;
    list-style: none;
    font-size: 9px;
    display: flex;
    flex-wrap: wrap;
}

.wallpapers .card .wallpaperBox .wallpaper.show ul{
    list-style: none;
}

.wallpapers .card .wallpaperBox button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
    color: #32a3b1;
    font-size: 16px;

    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.8),
    4px 4px 15px rgba(0, 0, 0, .1);
    transition: 0.2s;
}

.wallpapers .card .wallpaperBox button:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, .1);
    transition: 0.2s;
}

.wallpapers .card .wallpaperBox .upload{
    margin: 0px 20px;
    margin-top: 20px
}

.wallpapers .card .wallpaperBox .button3 input{
    margin-top: 30px;
    margin-left: 160px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.wallpapers .card .wallpaperBox .button4{
    margin: 0 auto;
    margin-top: 120px;
}

.wallpapers .card .wallpaperBox .button4 a{
    color:#ffffff99;
    font-size: 15px;
}

.wallpapers .card .wallpaperBox .button5{
    margin: 0px 180px;
    margin-top: 15.5px;
}

.wallpapers .card .wallpaperBox .button5 a{
    color:#ffffff99;
    font-size: 15px;
}


.color_wallpaper_all{
    align-content: center;
    position: absolute;
}

.color_wallpaper{
    width:80px;
    height:80px;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.color_wallpaper .color_wallpaper_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer
}

.color_wallpaper .color_wallpaper_desc{
    color: white;

    font-size: 8px;
}