
.top{
    width: 100%;
    height: 30%;
    /*background: red;*/
}
.left{
    width: 30%;
    height: 65%;
    /*background: yellow;*/
}
.mid{
    width: 50%;
    height: 65%;
    /*background: blue;*/
    position: absolute;
    left: 30%;
    top: 30%;
}
.right{
    width:20%;
    height: 65%;
    /*background: purple;*/
    position: absolute;
    left: 80%;
    top: 30%;
}
.bottom{
    width: 100%;
    height: 5%;
    /*background: green;*/
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
