<!DOCTYPE html>
{% extends 'base.j2' %}
{% from '_includes/corona_data.j2' import corona_data %}
{% from '_includes/site_box.j2' import site_box %}


{% block counter %}
    <div class="counter" id="counter">
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <em class="divider">:</em>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <em class="divider">:</em>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
    </div>
{% endblock %}


{% block poem %}
    <div class="poem" id="poem">
        <p class="sentence" id="sentence">「 {{ poem.content }} 」</p>
        <p class="sentence" id="author">——《{{ poem.origin }}》 {{ poem.author }}</p>
    </div>
{% endblock %}


{% block search %}
    <div class="search-box" id="search-box">
        <div class="search-form">
            <div class='engine-box'>
                <img class="engine" src="https://files.codelife.cc/itab/search/baidu.svg">
                <i class="fa-solid fa-caret-down" style="font-size:12px; display:flex; padding: 3px 3px;"></i>
            </div>
            <input class="search-txt" id="search-text" name="search_msg" placeholder="输入文本搜索，左侧切换引擎" onkeydown="if(event.keyCode==13) document.getElementById('search-btn').click()">
            <div class='search-btn-box' id='search-btn'>
                <i class="fa-solid fa-magnifying-glass" class='search-btn'></i>
            </div>
        </div>
        <div class="search-engine" style="display: none;">
            <div class="search-engine-head">
                <div class="search-engine-tit">点击选择搜索引擎：</div>
            </div>
            <ul class="search-engine-list"></ul>
        </div>
    </div>
{% endblock %}

{% block weather %}
    <div class="weather" id="weather">
        <div id="he-plugin-standard"></div>
        <script>
            WIDGET = {
                "CONFIG": {
                    "layout": "1",
                    "width": "400",
                    "height": "150",
                    "background": "1",
                    "dataColor": "FFFFFF",
                    "borderRadius": "40",
                    "key": "07f20b95a1414be7944ee81ce02bf842"
                }
            }
        </script>
        <script src="https://widget.qweather.net/standard/static/js/he-standard-common.js?v=2.0"></script>
    </div>
{% endblock %}


{% block news %}
    <div class="news" id="news">
        <div class="card">
            <button class="info_btn active">通知</button>
            <button class="info_btn">要闻</button>
            <button class="info_btn">微博</button>
            <button class="info_btn">B站</button>
            <button class="info_btn">知乎</button>
            <div class="infoBox">
                <div class="info show">
                    <ul>
                        {% for x in jwc %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in jnews %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in weibo %}
                            <li>
                <span style="float:left">
                    <a href={{ x.url }} target="_blank">{{ x.name }}</a>
                </span>
                                <span style="float:right">
                    <p>{{ x.hot }}</p>
                </span><br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in bilibili %}
                            <li>
                <span style="float:left">
                    <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                </span>
                                <span style="float:right">
                    <p>{{ x.view }}</p>
                </span><br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="info">
                    <ul>
                        {% for x in zhihu %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tools %}
    <div class="tools" id="tools">
        <div class="card">
            <button class="tool_btn active">疫情</button>
            <button class="tool_btn">校车</button>
            <button class="tool_btn">图书馆</button>
            <button class="tool_btn">食堂</button>
            <div class="toolBox">
                <div class="tool show">
                    {{ corona_data("累计确诊", corona.chinaTotal.confirm, corona.chinaAdd.confirm, '#a31d13') }}
                    {{ corona_data("境外输入", corona.chinaTotal.importedCase, corona.chinaAdd.importedCase, '#D2691E') }}
                    {{ corona_data("累计治愈", corona.chinaTotal.heal, corona.chinaAdd.heal, '#34aa70') }}
                    {{ corona_data("现存确诊", corona.chinaTotal.nowConfirm, corona.chinaAdd.nowConfirm, '#e44a3d') }}
                    {{ corona_data("累计死亡", corona.chinaTotal.dead, corona.chinaAdd.dead, '#333') }}
                    {{ corona_data("无症状", corona.chinaTotal.noInfectH5, corona.chinaAdd.noInfectH5, '#791618') }}
                    <div class="information">
                        <p>统计截至{{corona.lastUpdateTime}}</p>
                        <p>数据来源自国家及各地卫健委每日信息发布</p>
                    </div>
                </div>
                <div class="tool">
                    校车信息
                </div>
                <div class="tool">
                    <div id="bar"></div>
                </div>
                <div class="tool">
                    <div id="bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sites %}
    <div class="sites" id="sites">
        {% for site in sites %}
        {{ site_box (site.site_name, site.site_url, site.site_src)  }}
        {% endfor %}
    </div>
{% endblock %}


{% block sidebar %}
    <div class="sidebar" id="sidebar">
        <!-- --t是自定义属性，通过var函数可调用 -->
        <li style="--t:20%;">
            <a href="#">
                <i class="fa-solid fa-user"></i>
            </a>
            <p> 登录 </p>
        </li>
        <li style="--t:30%;">
            <a a href = "JavaScript:void(0)" onclick = "openSiteDialog()">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </a>
            <p>网站设置</p>
        </li>
        <li style="--t:40%;">
            <a href="#">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
        </li>
        <li style="--t:50%;">
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        </li>
        <li style="--t:60%;">
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>
        <li style="--t:70%;">
            <a href="#">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </li>
        <div class="top"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
</div>
{% endblock %}

{% block windows %}
<div id="add_site" class="white_content">
    <form action="/index/" method = 'post'>
        <p>
            网站名 <input type="text" id="site_name" name="site_name"/>
        </p>
        <p>
            网址 <input type="text" id="site_url" name="site_url"/>
        </p>
        <a href = "javascript:void(0)" onclick = "closeSiteDialog()">
            <input type="submit" value="添加" id="site_submit"_>
        </a>
    </form>
</div>

<div id="sub-menu">
<table>
    <tr>
        <td>
            <a href = "JavaScript:void(0)" onclick = "">
               <input type="button" class="sub-menu-btn" id="site_refactor" value="修改" />
            </a>
        </td>
        <td>
            <a href = "JavaScript:void(0)" onclick = "delete_site()">
               <input type="button" class="sub-menu-btn" id="site_delete" value="删除" />
            </a>
        </td>
    </tr>
</table>
</div>
{% endblock %}




