<!DOCTYPE html>
{% extends 'base.j2' %}
{% from '_includes/corona_data.j2' import corona_data %}
{% from '_includes/icon_box.j2' import icon_box %}


{% block counter %}
    <div class="counter" id="counter">
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <em class="divider">:</em>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <em class="divider">:</em>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
        <div class="flip">
            <div class="digital front" data-number="0"></div>
            <div class="digital back" data-number="1"></div>
        </div>
    </div>
{% endblock %}


{% block poem %}
    <div class="poem" id="poem">
        <p class="sentence" id="sentence">「 {{ poem.content }} 」</p>
        <p class="sentence" id="author">——《{{ poem.origin }}》 {{ poem.author }}</p>
    </div>
{% endblock %}


{% block search %}
    <div class="search-box" id="search-box">
        <div class="search-form">
            <div class='engine-box'>
                <img class="engine" src="https://files.codelife.cc/itab/search/baidu.svg">
                <i class="fa-solid fa-caret-down" style="font-size:12px; display:flex; padding: 3px 3px;"></i>
            </div>
            <input class="search-txt" id="search-text" name="search_msg" placeholder="输入文本搜索，左侧切换引擎" onkeydown="if(event.keyCode==13) document.getElementById('search-btn').click()">
            <div class='search-btn-box' id='search-btn'>
                <i class="fa-solid fa-magnifying-glass" class='search-btn'></i>
            </div>
        </div>
        <div class="search-engine" style="display: none;">
            <div class="search-engine-head">
                <div class="search-engine-tit">点击选择搜索引擎：</div>
            </div>
            <ul class="search-engine-list"></ul>
        </div>
    </div>
{% endblock %}

{% block weather %}
    <div class="weather" id="weather">
        <div id="he-plugin-standard"></div>
        <script>
            WIDGET = {
                "CONFIG": {
                    "layout": "1",
                    "width": "400",
                    "height": "150",
                    "background": "1",
                    "dataColor": "FFFFFF",
                    "borderRadius": "40",
                    "key": "07f20b95a1414be7944ee81ce02bf842"
                }
            }
        </script>
        <script src="https://widget.qweather.net/standard/static/js/he-standard-common.js?v=2.0"></script>
    </div>
{% endblock %}


{% block news %}
    <div class="news" id="news">
        <div class="card">
            <button class="info_btn active">通知</button>
            <button class="info_btn">要闻</button>
            <button class="info_btn">微博</button>
            <button class="info_btn">B站</button>
            <button class="info_btn">知乎</button>
            <div class="infoBox">
                <div class="info show">
                    <ul>
                        {% for x in jwc %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in jnews %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in weibo %}
                            <li>
                <span style="float:left">
                    <a href={{ x.url }} target="_blank">{{ x.name }}</a>
                </span>
                                <span style="float:right">
                    <p>{{ x.hot }}</p>
                </span><br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% for x in bilibili %}
                            <li>
                <span style="float:left">
                    <a href={{ x.url }} target="_blank">{{ x.title }}</a>
                </span>
                                <span style="float:right">
                    <p>{{ x.view }}</p>
                </span><br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="info">
                    <ul>
                        {% for x in zhihu %}
                            <li>
                                <a href={{ x.url }} target="_blank">{{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tools %}
    <div class="tools" id="tools">
        <div class="card">
            <button class="tool_btn active">疫情</button>
            <button class="tool_btn">校车</button>
            <button class="tool_btn">图书馆</button>
            <button class="tool_btn">食堂</button>
            <div class="toolBox">
                <div class="tool show">
                    {{ corona_data("累计确诊", corona.chinaTotal.confirm, corona.chinaAdd.confirm, '#a31d13') }}
                    {{ corona_data("境外输入", corona.chinaTotal.importedCase, corona.chinaAdd.importedCase, '#D2691E') }}
                    {{ corona_data("累计治愈", corona.chinaTotal.heal, corona.chinaAdd.heal, '#34aa70') }}
                    {{ corona_data("现存确诊", corona.chinaTotal.nowConfirm, corona.chinaAdd.nowConfirm, '#e44a3d') }}
                    {{ corona_data("累计死亡", corona.chinaTotal.dead, corona.chinaAdd.dead, '#333') }}
                    {{ corona_data("无症状", corona.chinaTotal.noInfectH5, corona.chinaAdd.noInfectH5, '#791618') }}
                    <div class="information">
                        <p>统计截至{{corona.lastUpdateTime}}</p>
                        <p>数据来源自国家及各地卫健委每日信息发布</p>
                    </div>
                </div>
                <div class="tool">
                    校车信息
                </div>
                <div class="tool">
                    <div id="bar"></div>
                </div>
                <div class="tool">
                    <div id="bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block icons %}
    <div class="icons" id="icons">
        {{ icon_box('教学信息', "https://i.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('在线课程', "https://oc.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('交大邮箱', "https://mail.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('教学信息', "https://i.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('在线课程', "https://oc.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('交大邮箱', "https://mail.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('教学信息', "https://i.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('在线课程', "https://oc.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('交大邮箱', "https://mail.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('教务处', "https://jwc.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('创新实践', "https://uitp.sjtu.edu.cn/innovation/index.html", "../static/img/school.png") }}
        {{ icon_box('教学楼', "https://ids.sjtu.edu.cn/", "../static/img/school.png") }}
        {{ icon_box('图书馆', "https://www.lib.sjtu.edu.cn/f/main/index.shtml", "https://www.lib.sjtu.edu.cn/favicon.ico") }}
        {{ icon_box('传承交大', "https://share.dyweb.sjtu.cn/", "../static/img/school.png") }}
        {{ icon_box('选课社区', "https://course.sjtu.plus", "../static/img/school.png") }}
        {{ icon_box('bilibili', "https://bilibili.com", "https://files.codelife.cc/itab/search/bilibili.svg") }}
        {{ icon_box('知乎', "https://www.zhihu.com/hot", "https://files.codelife.cc/itab/search/zhihu.svg") }}
        {{ icon_box('豆瓣', "https://www.douban.com/", "https://files.codelife.cc/itab/search/douban.svg") }}
        {{ icon_box('github', "https://github.com/", "https://files.codelife.cc/itab/search/github.svg") }}
        {{ icon_box('淘宝', "https://www.taobao.com/", "https://www.taobao.com/favicon.ico") }}
        {{ icon_box('爱奇艺', "https://www.iqiyi.com/", "https://www.iqiyi.com/favicon.ico") }}
        {{ icon_box('一个木函', "https://web.woobx.cn/", "https://web.woobx.cn/favicon.ico") }}
        {% for icon in new_icon %}
        {{ icon_box(icon.new_icon_name, icon.new_icon_url, icon.new_icon_url + '/favicon.ico')  }}
        {% endfor %}
    </div>
{% endblock %}


{% block sidebar %}
    <div class="sidebar" id="sidebar">
        <!-- --t是自定义属性，通过var函数可调用 -->
        
        <li style="--t:20%;">
            <a href="/login">
                <i class="fa-solid fa-user"></i>
            </a>
            <p> 
            {% if jac == '' %}
                登录 
            {% else %}
                你好，{{jac}}！
            {% endif %}
            </p>
        </li>
        <li style="--t:30%;">
            <a a href = "JavaScript:void(0)" onclick = "openIconDialog()">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </a>
            <p>网站设置</p>
        </li>
        <li style="--t:40%;">
            <a href="#">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
        </li>
        <li style="--t:50%;">
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        </li>
        <li style="--t:60%;">
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>

        {% if (jac != '') %}

        <li style="--t:70%;">
            <a href="/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
            <p> 
                {{jac}}-登出 
            </p>
        </li>
        {% endif %}

        <div class="top"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
</div>

<div id="light" class="white_content">
    <form action="/index/" method="POST">
        <p>
            网站名 <input type="text" id="new_icon_name" name="new_icon_name">
        </p>
        <p>
            网址 <input type="text" id="new_icon_url" name="new_icon_url">
        </p>
        <p>
            <input type="submit" value="添加">
        </p>
    </form>
    <a href = "javascript:void(0)" onclick = "closeIconDialog()">点这里关闭本窗口</a>
</div>
{% endblock %}